// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  rgba(255, 255, 255, 0.5);

// ----------------------------------------------------------------------------
// Widget-image styles
// ----------------------------------------------------------------------------
.widget-daily-dilbert {

  background-color: $background-color;

  .image_container {
    width:  90%;
    height: 90%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
