
    <li data-row="3" data-col="4" data-sizex="2" data-sizey="1">
      <div class="height-wrapper">
        <div data-id="daily_dilbert" data-view="DailyDilbert"></div>
      </div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div class="height-wrapper">
        <div data-view="Clock"></div>
        <i class="icon-time icon-background"></i>
      </div>
    </li>

    <li data-row="3" data-col="3" data-sizex="1" data-sizey="1">
      <div class="height-wrapper">
        <div data-id="klimato" data-view="Klimato" style="background-color: #9C4274;"></div>
      </div>
    </li>

    <li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
      <div class="height-wrapper">
        <div data-id="nu.nl" data-view="News" data-title="nu.nl" data-interval="10"></div>
        </div>
    </li>

    <li data-row="3" data-col="2" data-sizex="1" data-sizey="1">
      <div class="height-wrapper">
        <div data-id="tweakers.net" data-view="News" data-title="tweakers.net" data-interval="10" style="background-color: #F39800;"></div>
      </div>
    </li>

