// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #12b0c5;
$value-color:       #fff;

$title-color:       rgba(255, 255, 255, 0.7);
$label-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-list styles
// ----------------------------------------------------------------------------
.widget-table {

  background-color: $background-color;
  vertical-align: top !important;

  .title {
    color: $title-color;
  }

  table {
      width: 100%;
      margin: 20px 20px;
  }

  th, td {
      text-align: left;
      vertical-align: top;
  }

  .updated-at {
    color: rgba(0, 0, 0, 0.3);
  }

  .more-info {
    color: $moreinfo-color;
  }

  [class^="icon-"],
  [class*=" icon-"] {
    display: table-cell;

    &:before {
      margin-right: 5px;
    }
  }

}
